* {
  font-family: sans-serif;
  color: #343a40;
}

p {
  max-width: 85ch;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: #364034af;
}
h2 {
  font-size: 35px;
  text-align: center;
  color: #364034af;
}
h3 {
  font-size: 25px;
  text-align: center;
  color: #364034af;
}

body {
  background-color: #f1f8fd;
}

a:link,
a:visited {
  background-color: white;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-decoration: none;
  border-width: 1px;
  border-radius: 4px;
}
a:hover {
  font-size: 17px;
  text-decoration: underline;
  box-shadow: 2px 3px 5px rgb(87, 87, 87);
  background-color: #e7f5ff;
}
a:active {
  font-size: 18px;
  background-color: rgba(255, 3, 3, 0.494);
  box-shadow: 2px 3px 10px;
  text-decoration: underline;
}
.SignUp {
  font-weight: bold;
  float: right;
  padding: 15px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
  align-items: flex-end;
  box-shadow: 0px 3px 12px 1px #adb5bd;
  background-color: red;
  color: white;
}
.links {
  display: flex;
  align-items: center;
}
header {
  margin: 0px;
  display: grid;
  grid-template-columns: 400px 1fr 100px;
  background-color: white;
}
.Signup,
.links,
.logo {
  background-color: white;
}
.img1 {
  width: 150px;
  position: absolute;
  top: 4%;
  left: 2%;
}
img {
  width: 400px;
}
.SignUp:hover {
  font-size: 13.5px;
  box-shadow: 1px 3px 12px 1px #adb5bd;
}
.welcome {
  padding-top: 50px;
  margin-top: 0px;
  text-shadow: 2px 3px 5px rgb(130, 130, 130);
}

.first-section {
  padding-bottom: 50px;
}

.about-MIREN {
  font-size: 22px;
  padding: 20px;
  padding-top: 30px;
  font-size: 18px;
  line-height: 2em;
  display: grid;
  grid-template-columns: 2fr 1fr 3fr 2fr;
  justify-content: center;
}
.all-team-buttons {
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.team-button {
  box-shadow: 1px 2px 6px #adb5bd;
  color: #343a40;
  font-weight: bold;
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  margin-right: 20px;
}
.team-button:hover {
  background-color: rgb(232, 102, 102);
  color: black;
  box-shadow: 2px 2px 8px #adb5bd;
  text-align: center;
  border: none;
  font-size: 14px;
}
.join {
  padding-top: 50px;
  display: flex;
  text-decoration: none;
  justify-content: center;
}
.join-button {
  font-size: medium;
  background-color: rgb(232, 102, 102);
  color: white;
  box-shadow: 3px 2px 6px #adb5bd;
  text-align: center;
  padding: 10px 20px;
  justify-content: center;
  border-radius: 12px;
  border: none;
}
.join-button:hover {
  color: #343a40;
  background-color: rgb(237, 62, 62);
  box-shadow: 3px 2px 10px #adb5bd;
}
.missions {
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.mission {
  line-height: 2em;
  padding-top: 40px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0px 3px 16px #adb5bd;
  margin-left: 20px;
  margin-right: 20px;
}

.mission-content {
  padding: 10px;
  align-content: center;
  justify-items: center;
}

.last-section {
  padding-top: 50px;
  font-size: 32px;
  align-items: center;
  justify-content: space-around;
  display: grid;
}

.all-icon-lists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  place-items: center;
}
.icon-info {
  font-size: 10px;
  width: 160px;
  font-size: 80px;
  height: 160px;
  border-radius: 10px;
  background-color: rgb(241, 209, 209);
}
.icon-p {
  font-size: 15px;
}
.section3 {
  display: grid;
  font-size: 20px;
  place-items: center;
  text-align: center;
}
.middle_section {
  padding: 80px;
  background-color: #e7f5ff;
}
.middle_section11 {
  padding: 40px;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 450px);
  gap: 20px;
  justify-content: center;
}
.middle_section11 li {
  font-size: 18px;
  list-style: none;
  list-style-type: none;
}
.team {
  padding-top: 50px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 640px;
}
.Team {
  display: grid;
  place-items: center;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

.img2 {
  width: 175px;
  border-radius: 50%;
}
.team-member {
  width: 220px;
  font-size: 12px;
}
.footer {
  font-size: 15px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.footer11 {
  font-style: var(#364034af);
}
.footer13 {
  text-align: end;
}

@media (min-width: 750px) and (max-width: 1025px) {
  header {
    margin: 0px;
    display: grid;
    grid-template-columns: 200px 1fr 100px;
    background-color: white;
  }
  h1 {
    font-size: 45px;
  }
  .material-icons {
    font-size: 2rem;
  }

  a:link,
  a:visited {
    padding: 2px 7px;
  }
  .SignUp {
    padding: 12px 22px;
  }
  .middle_section11 li {
    font-size: 15px;
    list-style: none;
    list-style-type: none;
  }
  .middle_section11 {
    padding: 20px;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 300px);
    gap: 10px;
    justify-content: center;
  }
  .middle_section {
    padding: 50px;
  }
  .team {
    padding-top: 50px;
    display: flex;
  }
  .Team {
    display: flex;
    place-items: center;
    text-align: center;
  }

  .img2 {
    width: 120px;
  }
  .footer {
    font-size: 12px;
  }
  p {
    font-size: 85%;
  }
}
@media (max-width: 750px) {
  header {
    margin: 0px;
    display: grid;
    grid-template-columns: 150px 1fr 80px;
    background-color: white;
  }
  h1 {
    font-size: 35px;
  }
  .material-icons {
    font-size: 1.2rem;
  }

  a:link,
  a:visited {
    padding: 2px 5px;
  }
  .SignUp {
    padding: 10px 20px;
  }
  .middle_section11 li {
    font-size: 10px;
    list-style: none;
    list-style-type: none;
  }
  .middle_section11 {
    padding: 10px;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 200px);
    gap: 4px;
    justify-content: center;
  }
  .middle_section {
    padding: 25px;
  }
  .team {
    display: flex;
    justify-content: center;
  }
  .nahom {
    margin: 0 auto;
    display: none;
  }
  .Team {
    display: grid;
  place-items: center;
  text-align: center;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: 1fr;
  grid-gap: 10px;
  }
  .img1 {
    width: 150px;
  }
  .img2 {
    width: 100px;
  }
  .footer {
    font-size: 8px;
  }
  p {
    font-size: 75%;
  }
}
