/***
    The new CSS reset - version 1.11.2 (last updated 15.11.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu,
summary {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
- fix for the content editable attribute will work properly.
- webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

:root {
  /* Depends on style guide specification */
  --clr-offwhite: hsl(0, 0%, 94%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-button-red: hsl(0, 87%, 47%);
  --border: hsl(240, 5.9%, 90%);
  --input: hsl(240, 5.9%, 90%);
  --ring: hsl(240, 5%, 64.9%);

  --ff-primary: "Be Vietnam Pro", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-200: 0.8rem;
  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;

  --ff-inter: "Inter", sans-serif;

  --ring-offset-shadow: 0 0 #0000;
  --ring-shadow: 0 0 #0000;
  --shadow: 0 0 #0000;
}

body,
header {
  font-family: var(--ff-inter);
  background-color: var(--clr-offwhite);
}

.bg-offwhite {
  background-color: var(--clr-offwhite);
}

.flex-container {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.vertical-align-center {
  align-items: center;
}
.p-5 {
  padding: var(--size-500) var(--size-600);
}
.gap-2x {
  gap: 2rem;
}

.nav-logo {
  height: 30px;
  width: auto;
}

.bg-red {
  background-color: var(--clr-button-red);
}

.fs-300 {
  font-size: var(--fs-300);
}

.text-primary-400 {
  color: var(--clr-white);
}

.px-2py-6 {
  padding: var(--size-200) var(--size-600);
}

.round {
  border-radius: 6px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--clr-white);
  font-size: 0.8rem;
  padding: 0 2rem;
  padding-top: 0.8rem;
  padding-bottom: 1rem;
}

label {
  color: hsl(240, 10%, 3.9%);
  line-height: 1;
  font-weight: 500;
  font-size: 0.875rem;
}

input,
textarea {
  display: flex;
  height: 2.25rem;
  width: 100%;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  background-color: transparent;
  border-color: var(--input);
  box-shadow: var(--ring-offset-shadow, 0 0 #0000), var(--ring-shadow, 0 0 #0000), var(--shadow);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  position: relative;
}

textarea {
  height: inherit;
}

input::placeholder,
textarea::placeholder {
  color: hsl(240, 3.8%, 46.1%);
}

.form-child {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input[type="checkbox"] {
  width: 10px;
  appearance: auto;
}

.checkbox {
  display: flex;
  flex-direction: column;
}

.checkbox div {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.submit {
  width: 80px;
  height: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
