body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
}

h1 {
  text-align: center;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color:rgb(255, 95, 31);
  color: white;
  height:36px;
  width: 135px;
  border-radius:107px;
  cursor:point;
  margin-right: 8px;
  border:none;
  
  }
  input[type="submit"]:hover{

      opacity:0.7;
  }
input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"] {
width: 100%;
padding: 10px;
margin-bottom: 20px;
border: 1px solid #ccc;
border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }


  input[type='checkbox'] {
    margin-right: 5px;
    margin-bottom: 20px;
  }

  .checkbox-group label {
    display: inline-block;
  }
