/***
    The new CSS reset - version 1.11.2 (last updated 15.11.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu,
summary {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
display:revert; revert to element instead of attribute */
/* :where([hidden]) {
  display: none;
} */

/* revert for bug in Chromium browsers
- fix for the content editable attribute will work properly.
- webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

:root {
  /* Depends on style guide specification */
  --clr-offwhite: hsl(0, 0%, 94%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-button-red: hsl(0, 87%, 47%);
  --border: hsl(240, 5.9%, 90%);
  --input: hsl(240, 5.9%, 90%);
  --ring: hsl(240, 5%, 64.9%);

  --ff-primary: "Be Vietnam Pro", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-200: 0.8rem;
  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;

  --ff-inter: "Inter", sans-serif;

  --ring-offset-shadow: 0 0 #0000;
  --ring-shadow: 0 0 #0000;
  --shadow: 0 0 #0000;
}

body,
header {
  font-family: var(--ff-inter);
  background-color: var(--clr-offwhite);
}

/* Utility Classes */

.round {
  border-radius: 6px;
}

.pl-2 {
  padding-left: var(--size-200);
}
.pr-2 {
  padding-right: var(--size-200);
}
.pr-6 {
  padding-right: var(--size-600);
}
.pl-6 {
  padding-left: var(--size-600);
}
.p-2 {
  padding: var(--size-200);
}

.p-1 {
  padding: var(--size-100);
}
.p-5 {
  padding: var(--size-500) var(--size-600);
}
.mr-bottom400 {
  margin-bottom: var(--size-400);
}

.px-6py-2 {
  padding: var(--size-200) var(--size-600);
}
.px-2py-6 {
  padding: var(--size-600) var(--size-200);
}

.fs-200 {
  font-size: var(--fs-200);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-900 {
  font-size: var(--fs-700);
}

.text-primary-400 {
  color: var(--clr-white);
}

.bg-offwhite {
  background-color: var(--clr-offwhite);
}
.bg-red {
  background-color: var(--clr-button-red);
}
.bg-white {
  background-color: var(--clr-white);
}
.clr-red {
  color: var(--clr-button-red);
}
.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.1;
}
.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.1;
}

.flex-container {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.vertical-align-center {
  align-items: center;
}
.vertical-align-end {
  align-items: end;
}
.align-right {
  text-align: right;
}

.gap-2x {
  gap: 2rem;
}
.gap-1x {
  gap: var(--size-300);
}

.grid-container {
  display: grid;
}
.grid1x2 {
  grid-template-columns: minmax(0, 1fr) auto;
}

.br-shadow {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}
.bor-red {
  border: 2px solid var(--clr-button-red);
}

.mx-w400 {
  max-width: (100% - 105px) !important;
}

/* nav styles starts*/

.logo {
  height: 30px;
  width: auto;
}

/* nav stayles ends */

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}
body {
  margin: 0 auto;
}

img {
  width: 100%;
  max-width: 100%;
}
.room-section,
.review-section,
.description-section,
.image-section {
  padding: 0 50px;
}

/* Section 1 */
.room-images {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 14px;
  grid-row-gap: 4px;
}
.big-picture {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.small-pic-1 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.small-pic-2 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.small-pic-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.small-pic-4 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

/* Section 1 */
.description-header {
  display: flex;
  justify-content: space-between;
}

#navbar {
  padding: 10px;
  width: 100%;
  top: 0;
  z-index: 1000;
}

#navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#navbar li {
  margin-right: 20px;
}

#navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  position: relative;
}

#navbar a:hover {
  color: #ea310d;
}

/* Add sliding line effect */
#navbar li::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: #e23d13;
  transition: width 0.3s;
}

#navbar li:hover::after {
  width: 100%;
}

/* Section 2 */
.property-location {
  display: flex;
  justify-content: space-between;
}

.property-overview {
  line-height: 35px;
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
  height: 250px;
  width: 50%;
  margin-top: 20px;
}

.map-container {
  margin-top: 20px;
  text-align: right;
  width: 30%;
}

.map-container img {
  width: 70%;
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* Optional: Add border radius for a rounded appearance */
}

/* Section 3 */
.room-section {
  background-color: rgb(241, 239, 239);
  padding: 50px;
}

.room-ext-wraapper {
  display: flex;

  flex-wrap: wrap;
}

.room-wrapper {
  width: 350px;
  background-color: #fff;
  border: white 10px solid;
  border-radius: 12px;
  margin: 10px auto;
}
.room-wrapper img {
  border-radius: 12px;
  margin-bottom: 10px;
}

.room-type {
  font-size: 25px;
  margin-bottom: 10px;
}

.review-btn {
  text-align: center;
  margin: 0 auto;
}

.review-btn button {
  padding: 15px;
  margin: 10px auto;
  border: none;
  width: 100%;
  color: #fff;
  background-color: red;
  border-radius: 12px;
  font-size: 15px;
}

.all-room-info {
  line-height: 20px;
}
.room-info {
  line-height: 23px;
  font-size: 13px;
}
.note {
  font-size: 15px;
  color: gray;
}

/* Section 4 */
.review-section {
  padding: 50px;
  color: rgb(107, 107, 107);
}
.rating {
  width: 50%;
  margin: 60px auto;
  padding: 20px;
  box-shadow: 0 10px 29px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
}

.rating li {
  margin: 20px 0;
  padding: 10px;
}

.bar {
  background-color: #fffefe;
  display: block;
  height: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3 cubiz-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.24);
}
.bar:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span {
  height: 20px;
  float: left;
  background: linear-gradient(
    135deg,
    rgb(237, 105, 105) 0%,
    rgb(247, 0, 0) 100%
  );
}

.rating h3 {
  display: inline;
}
.rating .num {
  font-size: 12px;
}

.clean {
  width: 100%;
  animation: clean 3s;
}
.amen {
  width: 70%;
  animation: amen 3s;
}
.loc {
  width: 90%;
  animation: loc 3s;
}
.com {
  width: 50%;
  animation: com 3s;
}
.wifi {
  width: 80%;
  animation: wifi 3s;
}

@keyframes clean {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes amen {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes loc {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes com {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
@keyframes wifi {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

/* Section 5 */
.booking-section {
  background-color: #f8f8f8;
  padding: 50px;
  text-align: center;
}

.booking-section h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.booking-section p {
  color: #666;
  margin-bottom: 30px;
}

.booking-section form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.booking-section label,
.booking-section input {
  margin-bottom: 15px;
}

.booking-section button {
  padding: 15px;
  border: none;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
}

/* Media Query for Small Screens */
@media only screen and (max-width: 600px) {
  .room-section,
  .review-section,
  .description-section,
  .image-section {
    padding: 0 20px;
  }

  .room-images {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 4px;
  }

  .big-picture {
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
  }

  .small-pic-1,
  .small-pic-2,
  .small-pic-3,
  .small-pic-4 {
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
  }

  /* Add more responsive styles as needed */
}

/* Media Query for Medium Screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .room-section,
  .review-section,
  .description-section,
  .image-section {
    padding: 0 30px;
  }

  .room-images {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 14px;
    grid-row-gap: 4px;
  }

  .big-picture {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .small-pic-1,
  .small-pic-2,
  .small-pic-3,
  .small-pic-4 {
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
  }

  /* Add more responsive styles as needed */
}

img {
  width: 100%;
  max-width: 100%;
}

.container {
  display: flex;
}
.checkbox {
  margin-bottom: 30px;
}
.checkbox-group {
  display: inline;
  padding-right: 15px;
}
.review-submission {
  display: flex;
}

.left-section {
  flex: 1;
  margin-right: 10%;
  margin-left: 3%;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.right-section {
  flex: 1;
  padding: 0 50px;
}
.vline {
  border-left: 1px solid black;
  height: 900px;
  margin-left: 5%;
}

.review-form {
  max-width: 400px;
  margin: 0 auto;
}

h2 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}
label.checkk {
  display: inline;
}
form {
  margin-top: 20px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="file"] {
  display: block;
  margin-top: 5px;
}

button[type="submit"] {
  background-color: rgb(255, 95, 31);
  color: white;
  height: 36px;
  width: 135px;
  border-radius: 107px;
  cursor: point;
  margin-right: 8px;
  border: none;
}
input[type="submit"]:hover {
  opacity: 0.7;
}
input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input[type="checkbox"] {
  margin-right: 5px;
  margin-bottom: 20px;
}

.review-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  border: 0.01px solid black;
  margin: 20px auto;
  gap: 10px;
}

.profile-picture {
  width: 120px;
  height: 120px;
  padding: 10px 0;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* border-radius: 50%; */
  /* overflow: hidden; */
  /* margin-right: 20px; */
}

.profile {
  /* width: 100%; */
  height: 60px;
  width: 60px;
  border-radius: 70%;

  /* margin: 15px 15px; */
  object-fit: cover;
}

.name {
  margin: 0;
}

.review-text {
  margin-top: 10px;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    gap: 50px;
  }
  .vline {
    border-top: 1px solid black;
    height: 0;
    margin: 5%;
    width: 100%;
  }
}
